

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--sig);
    
}

:root
{
    --black: #000000;
    --black-two: #101010;
    --black-tre: #222;
    --black-four: #AAAAAA;

    --white: #FFFFFF;
    --white-two: #EFF3FA;
    --white-tre: #E6ECF7;

    --blue-one: #333366;
    --blue-two: #404E82;
    --blue-tre: #003395;
    --blue-four: #C8D5EC;
    --blue-five: #C4D2EB;

    --yellow:#D99C44;
    --yellow-two:#FFFFE4;

    --menu-bg:#EFEBDE;

    --sig: Verdana, sans-serif;
    --sig2: "Inter", sans-serif;

}

.acessibilidade
{
    position: absolute;
    bottom: 30px;
    right: 10px;

    background: var(--blue-one);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 42px 64px -21px rgba(0,0,0,0.75);

    display: none;
    align-items: center;
    justify-content: center;

    color: var(--white);
    font-size: 1.5em;
    cursor: pointer;
}

.tela
{
    position: relative;
    margin: auto;
    max-width: 985px;
   
}

.cabecalho .info-sistema
{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    color: var(--white);
    
    background: var(--blue-two);
    border-bottom: solid 3px var(--yellow);
    padding-left: 4px;
}
.cabecalho .info-sistema #titulo
{
    display: flex;
    align-items: baseline;
    gap: 10px;
}
.cabecalho .info-sistema h3
{
    font-size: 15px;
    font-family: var(--sig2)
}
.cabecalho .info-sistema P
{
    font-size: 13px;
    font-family: var(--sig);
}
#utilarios
{
    display: flex;
    align-items: baseline;
}
#tamnhhodafonte
{
    padding: 0 5px;
    border-right: 1px solid var(--yellow);
}
#tamnhhodafonte button
{
    background: transparent;
    border: none;
    color: white;
    font-weight: 600;
}
#tempodesessao
{
    padding: 0 5px;  
}
#tempodesessao p
{
    font-size: x-small;
    font-style: italic;
}
#tempodesessao p span
{
    font-style: normal;
}
#sair
{
    cursor: pointer;
    font-size: small;
    font-weight: bold;
    background: transparent;
    border: none;
    color: #FEF9DC;
    padding-right: 10px;
    font-family: var(--sig);
}

/* ------------------------------------------painel-usuario--------------------------------------------- */

.painel-usuario
{
    /* height: 48px; */
    display: flex;
    justify-content: space-between;
    background: var(--blue-five);
    min-height: 48px;
}
/* ------------------------------------------info-usuario--------------------------------------------- */

#info-usuario
{
    padding: 5px 0px 5px 5px;
    width: 590px;
}

#usuario
{
    display: flex;
    justify-content: space-between;
}

#usuario #nome-do-usuario
{
    font-size: 10.08px;
    font-weight: bold;
    width: 400px;
}
#usuario #nome-do-usuario span a
{
    font-size: smaller;
    font-style: italic;
    text-decoration: none;
    color: var(--blue-tre);
}

#semestre-do-usuario
{
    font-size: 10.08px;
    padding: 3px 0px 0px;
}
#unidade-do-curso
{
    font-size: 10.08px;
    margin-top: 3px;
    width: 590px;
}

/* ------------------------------------------menu-usuario--------------------------------------------- */

#menu-usuario
{
    width: 360px;
    padding: 2px 0px;
}
#menu-usuario ul
{
    display: flex;
    flex-wrap: wrap;
}
#menu-usuario ul li
{
    list-style: none;
    margin: 2px 2px;
    width: 32%;
    background: var(--white-tre);
} 
#menu-usuario ul li a
{
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    font-size: 9.408px;
    padding: 2px 0px 1px 4px;
    color: var(--black-tre);
    font-weight: bold;
}

/* ------------------------------------------portal-docente--------------------------------------------- */


/* ------------------------------------------menu-dropdown--------------------------------------------- */

.menu-dropdown #menu
{
    display: flex;
    justify-content: space-around;
    background: var(--menu-bg);
}
.menu-dropdown #menu #menuItem
{
    list-style: none;
    position: relative;

    font-size: 11.2px;
    transition: .3s ease;
}

.menu-dropdown #menu #menuItem #submenu #submenuItem:hover,
.menu-dropdown #menu #menuItem:hover
{
    background: #C6D3EF;
}
.menu-dropdown #menu #menuItem #item
{
    display: flex;
    padding: 3px;
    gap: 2px;
    align-items: center;
}
/* ------------------------------------------submenu--------------------------------------------- */

#submenu
{
    position: absolute;
    left: 0px;
    top: 22px;
    background: var(--white);
    border: 1px solid black;
    z-index: 10;
    visibility: hidden;
}
#submenu.hide
{
    visibility: visible;
}
#submenu #submenuItem
{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
#submenu #submenuItem span
{
    padding: 0px 3px;
}
#submenu #submenuItem #submenuItemName
{
    width: auto;
    white-space: nowrap;
    text-align: left;
    flex: 1;
}
#submenuItemIcon
{
    background: var(--menu-bg);
}
#linha
{
    width: 92%;
    float: right;
    height: 1px;
    background: #C6C3BD;
}
